.Login {
  background-image: url('../media/Dusk.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  /* transform: scale(1); */
  margin: 0;
  padding: 0;
}

.content h1 {
  z-index: 1;
  font-size: 30px;
  color: rgb(12, 6, 6);
  margin-bottom: 5px;
}

.logo {
  position: absolute;
  width: 100px; /* Adjust the width to your desired size */
  height: auto; /* Let the height adjust automatically to maintain aspect ratio */
  top: 20px;
  left: 20px;
  z-index: 1;
}



.content p {
  z-index: 1;
  text-align: right;
  padding-left: 200px;
  font-size: 10px;
  color: rgb(12, 6, 6);
  margin-top: 0;
}

.login-container {
  position: relative; /* Add this line */
  display: flex;
  width: 25vw;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-top: 30px;
  padding-bottom: 30px;
}

.image-container {
  flex: 1.5;
  overflow: hidden;
  border-radius: 8px 0 0 8px;
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-container {
  flex: 1;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
}

.form-container h1 {
  flex: 1;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5%;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
}

input {
  width: calc(100% - 40px);
  padding: 15px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 5px;
  outline: none;
}

input:hover {
  border-bottom: 1px solid #232323;
}

.log-button {
  width: calc(100% - 40px);
  padding: 12px;
  background-color: 0078D4;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.log-button:hover {
  background-color: #00509a;
}

.additional-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 15px;
}

.additional-options input {
  width: 20px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.additional-options label {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.additional-options input {
  color: #1b6b9a;
}

.additional-options a {
  color: #1b6b9a;
  text-decoration: none;
  font-size: 12px;
}

.additional-options a:hover {
  color: #0a2331;
}

.additional-options a.forgot-password {
  margin-left: 15px;
}
.password-input {
  display:flex;

}

@media (max-width: 1130px) {
  .login-container {
    width: 50vw; 
  }
}
@media (max-width: 767px) {
  .login-container {
    width: 80vw; 
  }
}